body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.live-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(30, 30, 30, 0.9), rgba(30, 30, 30, 0.6));
    animation: liveBackground 10s ease infinite;
}

@keyframes liveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100%;
    }
}


header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header h2 {
    font-size: 1.5rem;
}

.tos-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    max-height: 70vh;
    overflow-y: scroll;
}

.tos-content p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.tos-content ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}

.tos-content li {
    margin-bottom: 5px;
}

.tos-content::-webkit-scrollbar {
    width: 10px;
}

.tos-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.tos-content::-webkit-scrollbar-track {
    background-color: #333;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer-links li {
    display: inline-block;
    margin: 0 15px;
}

.footer-links a {
    text-decoration: none;
    color: #aaa;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #fff;
}
